#canvas1 {
  border: 1px solid black;
  background: #FFFAC8;
  margin-left: 10px;
}

#canvas {
  border: 1px solid black;
  background: #FFFAC8;
  margin-left: 1px;
}
.q {
  font-family: 'Courier New';
  color: #A66F00;
  font-size: 20px;
  margin-left: 10px;
}
